@tailwind base;
@tailwind components;
@tailwind utilities;


.ourcoursesdbba{
    transform: rotate(-29.5deg);
    position: absolute;
    top: 5%;
    left:5%;
}

.TestiomnialSwipper .swiper-slide-prev{
    opacity: 0.5;
}
.TestiomnialSwipper .swiper-slide-next{
    opacity: 0.5;
}
.ourcourses-tabs .scrollbar-hide::-webkit-scrollbar{
    display: none;
}
.okay-iam .aria-selected{
    background-color: antiquewhite;
}

@font-face {
    font-family: 'Kalam-Regular';
    src: url(./Assets/Font/Kalam-Regular.ttf);
}
@font-face {
    font-family: 'PlayfairDisplay-Regular';
    src: url(./Assets/Font/PlayfairDisplay-Regular.ttf);
}
@font-face {
    font-family: 'PlayfairDisplay-Medium';
    src: url(./Assets/Font/PlayfairDisplay-Medium.ttf);
}

.this-is-form{
    position: relative;
}
.this-is-form::after{
    top: 10%;
    right: 0;
    height: 70%;
    border-right: 3px solid #E74DC6;
    position: absolute;
    content: '';
    
}